Repository rjsears/unifi_timelapse: changes, and which Codecov flags are due for each by the changed paths.
All: api, worker, health

refactor: Unify CI pipeline like unifi_backups
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
Due: none

fix(ci): Resolve pytest version conflict
  requirements-test.txt
Due: none

fix(ci): Apply ruff formatting and remove npm cache dependency
  .github/workflows/ci.yml
  api/auth/jwt.py
  api/auth/middleware.py
  api/config.py
  api/main.py
  api/models/camera_health.py
  api/models/timelapse.py
  api/routers/auth.py
  api/routers/cameras.py
  api/routers/health_status.py
  api/routers/images.py
  api/routers/multiday.py
  api/routers/notifications.py
  api/routers/settings.py
  api/routers/system.py
  api/routers/timelapses.py
  api/schemas/camera.py
  api/services/capture.py
  api/services/notification.py
  api/services/scheduler.py
  api/services/storage.py
  api/services/timelapse.py
  health/alerter.py
  health/checks/connectivity.py
  health/checks/image_quality.py
  health/checks/uptime.py
  health/main.py
  worker/ffmpeg/encoder.py
  worker/main.py
  worker/tasks/capture.py
  worker/tasks/cleanup.py
  worker/tasks/multiday.py
  worker/tasks/timelapse.py
Due: api, worker, health

fix(tests): Correct User model field names in conftest
  tests/conftest.py
Due: none

fix(tests): Use PostgreSQL instead of SQLite for tests
  tests/conftest.py
Due: none

fix(tests): Use JSON for login requests, fix field names
  tests/conftest.py
  tests/test_api/test_auth.py
Due: none

fix(tests): Update tests to match actual Camera model and API
  tests/test_api/test_cameras.py
  tests/test_api/test_health.py
  tests/test_worker/test_capture.py
Due: none

chore: Lower coverage threshold for initial test setup
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(tests): Expect 201 Created for camera creation
  tests/test_api/test_cameras.py
Due: none

test: Add comprehensive test coverage for API, services, worker, and health
  tests/conftest.py
  tests/test_api/test_health_status.py
  tests/test_api/test_images.py
  tests/test_api/test_multiday.py
  tests/test_api/test_notifications.py
  tests/test_api/test_settings.py
  tests/test_api/test_system.py
  tests/test_api/test_timelapses.py
  tests/test_health/__init__.py
  tests/test_health/test_alerter.py
  tests/test_health/test_connectivity.py
  tests/test_health/test_quality.py
  tests/test_health/test_uptime.py
  tests/test_services/__init__.py
  tests/test_services/test_cleanup.py
  tests/test_services/test_notification.py
  tests/test_services/test_storage.py
  tests/test_worker/__init__.py
  tests/test_worker/test_encoder.py
Due: none

fix(tests): Fix failing test assertions
  tests/conftest.py
  tests/test_api/test_multiday.py
  tests/test_api/test_settings.py
  tests/test_api/test_system.py
Due: none

fix(tests): Use naive UTC datetime for consistency
  tests/conftest.py
Due: none

fix(tests): Use timezone-aware UTC datetime in health records fixture
  tests/conftest.py
Due: none

fix(tests): Use naive UTC datetime for database insertion
  tests/conftest.py
Due: none

fix(api): Use naive UTC datetime for database queries
  api/routers/health_status.py
Due: api

fix(docker): Add apparmor:unconfined for Proxmox LXC compatibility
  docker-compose.yaml
Due: none

fix(worker): Use naive UTC datetimes for database columns
  api/routers/auth.py
  api/services/cleanup.py
  api/services/timelapse.py
  health/checks/uptime.py
  worker/tasks/multiday.py
Due: api, worker, health

test(health): Add coverage for downtime period tracking
  tests/test_health/test_uptime.py
Due: none

test: Add coverage for timelapse service and multiday task
  tests/test_services/test_timelapse.py
  tests/test_worker/test_multiday.py
Due: none

test(auth): Add explicit test for last_login_at update
  tests/test_api/test_auth.py
Due: none

test(auth): Add direct unit test for login function
  tests/test_api/test_auth.py
Due: none

fix(test): Add proper UUID and datetime to mock user
  tests/test_api/test_auth.py
Due: none

fix(nginx): Use dynamic DNS resolution for upstream containers
  nginx/nginx.conf
Due: none

fix(frontend): Fix ESLint errors for props and unused variable
  frontend/src/components/dashboard/HealthItem.vue
  frontend/src/components/dashboard/StatCard.vue
  frontend/src/views/Timelapses.vue
Due: none

fix(api): Add missing video and download endpoints for timelapses
  api/routers/timelapses.py
Due: api

fix: Move imports to top level for ruff compliance
  api/routers/timelapses.py
Due: api

style: Apply ruff formatting
  api/routers/timelapses.py
Due: api

Path conditions:
  api: any of: api/, but not: tests/**/*, **/conftest.py, **/__init__.py, alembic/**/*, docs/**/*, frontend/**/*
  worker: any of: worker/, but not: tests/**/*, **/conftest.py, **/__init__.py, alembic/**/*, docs/**/*, frontend/**/*
  health: any of: health/, but not: tests/**/*, **/conftest.py, **/__init__.py, alembic/**/*, docs/**/*, frontend/**/*
